<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Đối với các thiết bị chạy Android 12L (API level 32) hoặc thấp hơn -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Đối với các thiết bị chạy Android 13 (API level 33) hoặc cao hơn -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_big"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_big"
        android:supportsRtl="true"
        android:theme="@style/Theme.KTHTechShop"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity_and_fragment.AppInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.CreateOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.UserEditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.UserActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".activity_and_fragment.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>